.top-bar-center {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
.bnr-menu {
  margin-top: 10px;
  margin-bottom: 10px;
}
.settings > .btn-menu-one {
  float: right;
}
.btn-menu-two {
  clear: left;
}
.orbit {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
.breadcrumb, .company, .contact, .highlight, .login {
  margin-top: 10px; 
}
.comment {
  height: 100px;
}
.cta-submit {
  width: 100%;
}
.lgn-submit {
  width: 25%;
}
.vline {
  border-left: 1px solid #cacaca;
}
.text-input {
  max-width: 75%;
}
.benefits {
  padding-left: 20px;
}
.dropdown-pane {
  width: 352px;
  list-style-type: none;
}
.lgn-txt-col {
  color: #8e8d8d;
}
.grp-menu {
  min-width: 250px;
  max-width: 500px;
}
.btn-width {
  width: 25%;
}

@media screen and (min-width: 360px) and (max-width: 640px){
  .text-input {
    max-width: 100%;
  }
  .lgn-submit {
    width: 100%;
  }
}