.top-bar-center {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
.bnr-menu {
  margin-top: 10px;
  margin-bottom: 10px;
}
.settings > .btn-menu-one {
  float: right;
}
.btn-menu-two {
  clear: left;
}
.orbit {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
.breadcrumb, .company, .contact, .highlight, .login {
  margin-top: 10px; 
}
.comment {
  height: 100px;
}
.cta-submit {
  width: 100%;
}
.lgn-submit {
  width: 25%;
}
.vline {
  border-left: 1px solid #cacaca;
}
.text-input {
  width: 75%;
}
.benefits {
  padding-left: 20px;
}
.dropdown-pane {
  width: 352px;
  list-style-type: none;
}